sudo: true
dist: trusty
language: clojure

notifications:
  email:
  - antonin@hildebrand.cz
  hipchat:
    rooms:
      secure: OgyY9xrTyOK8AAP6EenA3PbGHyTrqBi8sK7+2c8KsZHIdGLBOAFSV2/kQhIOmW02cbxSmoyWfc4/bGXQQLdJJL4Srb1zMGtvzlU4tnh2e+U23KiHxnfiW+Qna8flEtc1np1vIxR3aUroXRcrPE00X8ntFZb16oixpYQlUxat91gYwR80Nu8JjU+5mtpuvnaYMo/o2bR69Y/SaRu5bEm4kF/QJC2pmLvG7pTJIXDjttCWXq6XTxD+Oy/3D9iIdw6kn3DzE0xCh4R1a/g6mwdW8ar/4ccd5IH+4sthK/j2vVyLv/dKeESDNo7Bs7ByaYpUv/8nKt6Nb5fCQSP50MYJOwNu+ttL6tazL8yR1f25aXKr3DBQpwEecQ5Qc7lWtQm4mKOqmbOoGucTP7qvEz+qaL9WU0u7k+HDcJJndDsaFN2cc4IMuoCp9c249GorwqsiKqf/qCgyrkdQSW34AeDIpI7agHJJNG4Twcvooh2PqpLbkUXIhGyCZ2zJID3sigFplTkBq9mnOsSlXRrMGLcsiuvPDsjcv27zJ/8ksr7QeCDbVAfwS+B6iin4v30GexCSTlM9hPW2lJJ+fLoR3a04c61HYV35j38CEU+jL27hKJeqtyrqfuuYTjB2UE4JJYY+rYjM+yArUo/apne3rqyc6Jqdf/6JMPK7TzJp5ZCBczY=
    template:
    - '<a href="%{build_url}">%{repository}#%{build_number}</a>: %{message} (<a href="%{compare_url}">changes</a>)'
    format: html

cache:
  directories:
    - $HOME/.m2

before_install:
  - curl -sSL https://raw.githubusercontent.com/cljs-oss/canary/master/scripts/install-canary.sh | bash

before_script:
  # update lein to latest, https://github.com/technomancy/leiningen/issues/2014#issuecomment-153829977
  - yes y | sudo lein upgrade
  # install nodejs for npm, which is needed for js-beautify
  - curl -sL https://deb.nodesource.com/setup_4.x | sudo -E bash -
  - sudo apt-get install -y nodejs colordiff
  - sudo npm install -g js-beautify@1.7.4

script: lein test-all
